/* .App {
  height: 100vh;
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.chat__container {
  background: white;
  width: 340px;
  border-radius: 5px;
  overflow: hidden;
}

.chat__container header, .chat__container .chat__body, .chat__footer {
  padding: 2rem 1rem;
}

.chat__container header, .chat__footer {
  background-color: hotpink;
}
*/
/* .chat__body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  max-height: 50vh;
  min-height: 45vh;
} 

.chat__bubble {
  align-self: flex-end;
}
*/

/* .chat__body .step__1, .chat__body .step__2, .chat__body .step__3 {
  display: flex;
  justify-content: space-around;
  border: 1px solid green;
}

.avatar__photo {
  width: 50px;
  height: 64px;
  position: relative;
}

.chat__body .avatar__photo img {
  width: 50px;
  height: 64px;
  border-radius: 42%;
  object-fit: cover;
  border: 2px solid hotpink;
}

.chat__body .avatar__photo::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: yellowgreen;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: -2px;
} 


.chat__body .scroll_top {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: hotpink;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
*/
/* .form__group button {
  display: none;
} */